[submodule "models/ampeppy"]
	path = models/ampeppy
	url = git@github.com:szczurek-lab/BattleAMP-amPEPpy.git
[submodule "models/amplify"]
	path = models/amplify
	url = git@github.com:szczurek-lab/BattleAMP-amplify.git
[submodule "models/ampscanner"]
	path = models/ampscanner
	url = git@github.com:szczurek-lab/BattleAMP-ampscanner.git
[submodule "models/ampredmfa"]
	path = models/ampredmfa
	url = git@github.com:szczurek-lab/BattleAMP-ampredmfa.git
[submodule "models/hydramp-amp-classifier"]
	path = models/hydramp-amp-classifier
	url = git@github.com:szczurek-lab/BattleAMP-hydramp-amp-classifier.git
[submodule "models/hydramp-mic-classifier"]
	path = models/hydramp-mic-classifier
	url = git@github.com:szczurek-lab/BattleAMP-hydramp-mic-classifier.git
[submodule "models/apex"]
	path = models/apex
	url = git@github.com:szczurek-lab/BattleAMP-apex.git
[submodule "models/mole-amp"]
	path = models/mole-amp
	url = git@github.com:szczurek-lab/BattleAMP-mole-amp.git
[submodule "models/mbc-attention"]
	path = models/mbc-attention
	url = git@github.com:szczurek-lab/BattleAMP-mbc-attention.git
[submodule "models/sensexamp"]
	path = models/sensexamp
	url = git@github.com:szczurek-lab/BattleAMP-senseXAMP.git
