[submodule "models/ampeppy"]
	path = models/ampeppy
	url = git@github.com:szczurek-lab/BattleAMP-amPEPpy.git
[submodule "models/amplify"]
	path = models/amplify
	url = git@github.com:szczurek-lab/BattleAMP-amplify.git
[submodule "models/ampscanner"]
	path = models/ampscanner
	url = git@github.com:szczurek-lab/BattleAMP-ampscanner.git
[submodule "models/ampredmfa"]
	path = models/ampredmfa
	url = git@github.com:szczurek-lab/BattleAMP-ampredmfa.git
